<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>dbfile upload form</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<h1>데이터 업로드</h1>
	<form method="post" enctype="multipart/form-data"  action="/postupload" id="adduploadForm">
	<div>
	<input type="File" name="upfile" id="upfile">
	</div>
	<button type="button" id="addUpLoadBtn">upload</button>
	</form>

  <script>
  var fileName;
  var filename;
  $(function(){
		  $("#upfile").on("change", function(){
			  // 확장자 확인.
	  			filename = $("#upfile").val()
	  			console.log(filename + " : filename");
// 				fileName = filename.slice(filename.indexOf(".") + 1).toLowerCase();
	  			fileName = filename.split('.').pop();
			  console.log(fileName + " : fileName");
	  		  });
		  console.log(fileName + "fileName");
	  $('#addUpLoadBtn').click(function(){
				console.log(fileName + "fileName");
	  			if($('#upfile').val() == '') {
			           alert('파일을 선택해주세요');
		        }
	  			//확장자가 dbfile일 경우에만 가능.
		        else if(fileName == "dbfile" ){
		        	$('#adduploadForm').submit();
	  				
	  			}
	  			else if(fileName != "dbfile" ){
	  				alert('dbfile확장자만 가능합니다.');
	  			}
	  
	     });
	  
	  });
 </script>
</body>
</html>