<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.mapper.UploadMapper">
<!-- 	파일 업로드 -->
		<insert id="fileuplaod" parameterType="Map">
		INSERT INTO public."USER"(
	id, pwd, name, level, "desc", red_date)
	VALUES (#{id}, #{pwd}, #{name}, #{level}, #{desc}, #{day});
	</insert>

<!-- 	중복이 있어도 무시하고 실행됨.
 ex) ON CONFLICT (id) DO NOTHING -->
	
	
<!-- 	전체성공한 dbfile의 데이터 출력 -->
	<select id="ajaxdbfile" resultType="com.example.test.vo.User">
	SELECT id id, pwd pwd, name name, level level, "desc" desc, to_char(red_date, 'YYYY-MM-DD HH12:MM:SS') redDate
		FROM public."USER"
	</select>
	
<!-- 	중복한 id검사 -->
	<select id="countId" parameterType="String" resultType="int">
	SELECT COUNT(id) AS cnt 
		FROM public."USER" 
		WHERE id=#{id};
	</select>
<!-- 	싪패한 데이터만 출력 -->
		<select id="falseId" parameterType="String" resultType="com.example.test.vo.User">
	SELECT id id, pwd pwd, name name, level level, "desc" desc, to_char(red_date, 'YYYY-MM-DD HH12:MM:SS') redDate
		FROM public."USER" 
		WHERE id=#{id};
	</select>
</mapper>
